<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="org.hvdw.fythwonekey">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SettingsActivity" android:label="@string/settings_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity-alias android:label="@string/settings_screen" android:name="org.hvdw.fythwonekey.SettingsActivityAlias" android:enabled="true" android:targetActivity="org.hvdw.fythwonekey.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity
                android:name=".ListInstalledApps"
                android:label="@string/list_apps">
                <intent-filter>
                    <action android:name="org.hvdw.fythwonekey.Help" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>

<!-- ==================================================================================== -->
<!-- Below are the several aliases we need for the Joying/FYT apps -->
<!-- ==================================================================================== -->

        <!-- The activity and alias for the BAND button -->
        <activity android:name=".activities.OneKeyBAND" android:label="@string/band_alias">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.app.AppRadio"
            android:targetActivity=".activities.OneKeyBAND"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="radio"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.radio.Launch"
            android:targetActivity=".activities.OneKeyBAND"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.radio"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the DVD button -->
        <activity android:name=".activities.OneKeyDVD" android:label="@string/dvd_alias">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.dvd.act.ActDvd"
            android:targetActivity=".activities.OneKeyDVD"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.dvd.ActivityLauncher"
            android:targetActivity=".activities.OneKeyDVD"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.dvd"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The aliases for the Media button / Music player -->
        <activity android:name=".activities.OneKeyMedia" android:label="@string/media_alias">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.music.act.Act_Music"
            android:targetActivity=".activities.OneKeyMedia"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.music.MAct"
            android:targetActivity=".activities.OneKeyMedia"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.music"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.music.btav"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the EQ button -->
        <activity android:name=".activities.OneKeyEQ" android:label="@string/eq_alias">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.eq.Launch"
            android:targetActivity=".activities.OneKeyEQ"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.syu.eq"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.eq.EQActivity"
            android:targetActivity=".activities.OneKeyEQ"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the BT Phone option; derived from the MODE carrousel button -->
        <activity android:name=".activities.OneKeyBTPhone" android:label="@string/btphone_alias">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.bt.act.BtAct"
            android:targetActivity=".activities.OneKeyBTPhone"
            android:exported="true" >            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.bt.BtAct"
            android:targetActivity=".activities.OneKeyBTPhone"
            android:exported="true" >            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.bt"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the BT AV option; derived from the MODE carrousel button-->
        <activity android:name=".activities.OneKeyBTAV" android:label="@string/btav_alias">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.bt.act.ActBtAvStart"
            android:targetActivity=".activities.OneKeyBTAV"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.btav"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the Video option; derived from the MODE carrousel button-->
        <activity android:name=".activities.OneKeyVIDEO" android:label="@string/video_alias">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.video.main.VideoListActivity"
            android:targetActivity=".activities.OneKeyVIDEO"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.video"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.media.act.ActPlayer"
            android:targetActivity=".activities.OneKeyVIDEO"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="rtsp"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the AV option; derived from the MODE carrousel button-->
        <activity android:name=".activities.OneKeyAV" android:label="@string/av_alias">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.av.ActivityLaunch"
            android:targetActivity=".activities.OneKeyAV"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.av"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.av.act.ActAv"
            android:targetActivity=".activities.OneKeyAV"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

<!-- ==================================================================================== -->
<!-- Below are the several broadcast receivers we need for ACC_ON/ACC_OFF                 -->
<!-- ==================================================================================== -->

        <!-- Broadcast receivers to catch the ACC_ON and ACC_OFF broadcasts -->
        <!-- <receiver android:name=".receivers.AccOnReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fyt.boot.ACCON" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.glsx.boot.ACCON"
            android:enabled="true"
            android:exported="true">
                </action>
            </intent-filter>
        </receiver> -->
        <receiver android:name=".receivers.AccOffReceiver" >
            <intent-filter>
                <action android:name="com.fyt.boot.ACCOFF" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.glsx.boot.ACCOFF" >
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.UsbReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </receiver>
<!-- ==================================================================================== -->
<!-- Below are the several broadcast receivers for BTPhone and BTAV for the BT app        -->
<!-- ==================================================================================== -->

        <!-- Broadcast receivers to catch the BT broadcasts -->
        <receiver android:name=".receivers.BTPhoneReceiver" >
            <intent-filter>
                <action android:name="com.syu.ms.bt" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.bt.bykey" >
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BTAVReceiver" >
            <intent-filter>
                <action android:name="com.syu.bt.byav" >
                </action>
            </intent-filter>
        </receiver>

        </application>
</manifest>
