<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="org.hvdw.fythwonekey">

    <!-- <uses-feature android:name="android.hardware.usb.host" /> -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- <uses-permission android:name="android.permission.USB_PERMISSION" /> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SettingsActivity" android:label="@string/settings_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity-alias android:label="@string/settings_screen" android:name="org.hvdw.fythwonekey.SettingsActivityAlias" android:enabled="true" android:targetActivity="org.hvdw.fythwonekey.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity
                android:name=".ListInstalledApps"
                android:label="@string/list_apps">
                <intent-filter>
                    <action android:name="org.hvdw.fythwonekey.Help" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>

<!-- ==================================================================================== -->
<!-- Below are the several aliases we need for the Joying/FYT apps -->
<!-- ==================================================================================== -->

        <!-- The activity and alias for the BAND button -->
        <activity android:name=".activities.OneKeyBAND" android:label="@string/band_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.radio.act.ActRadio"
            android:targetActivity=".activities.OneKeyBAND"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.radio.set"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="radio"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.radio.Launch"
            android:targetActivity=".activities.OneKeyBAND"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.radio"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.app.AppRadio"
            android:targetActivity=".activities.OneKeyBAND"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="radio"/>
            </intent-filter>
        </activity-alias>
        <!-- Below alias for carradio ??? -->
        <activity-alias android:name="com.syu.carradio.ActivityLauncher"
            android:targetActivity=".activities.OneKeyBAND"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.syu.carradio"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the DVD button -->
        <activity android:name=".activities.OneKeyDVD" android:label="@string/dvd_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.dvd.act.ActDvd"
            android:targetActivity=".activities.OneKeyDVD"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.dvd.ActivityLauncher"
            android:targetActivity=".activities.OneKeyDVD"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.dvd"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The aliases for the Media button / Music player -->
        <activity android:name=".activities.OneKeyMedia" android:label="@string/media_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.music.act.Act_Music"
            android:targetActivity=".activities.OneKeyMedia"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.music.MAct"
            android:targetActivity=".activities.OneKeyMedia"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.music"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.music.btav"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the EQ button -->
        <activity android:name=".activities.OneKeyEQ" android:label="@string/eq_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.eq.Launch"
            android:targetActivity=".activities.OneKeyEQ"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.syu.eq"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.eq.EQActivity"
            android:targetActivity=".activities.OneKeyEQ"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the BT Phone option; derived from the MODE carrousel button -->
        <activity android:name=".activities.OneKeyBTPhone" android:label="@string/btphone_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.bt.act.BtAct"
            android:targetActivity=".activities.OneKeyBTPhone"
            android:exported="true" >            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.bt.BtAct"
            android:targetActivity=".activities.OneKeyBTPhone"
            android:exported="true" >            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.bt"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the BT AV option; derived from the MODE carrousel button-->
        <activity android:name=".activities.OneKeyBTAV" android:label="@string/btav_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.bt.act.ActBtAvStart"
            android:targetActivity=".activities.OneKeyBTAV"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.btav"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the Video option; derived from the MODE carrousel button-->
        <activity android:name=".activities.OneKeyVIDEO" android:label="@string/video_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.video.main.VideoListActivity"
            android:targetActivity=".activities.OneKeyVIDEO"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.video"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.media.act.ActPlayer"
            android:targetActivity=".activities.OneKeyVIDEO"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="rtsp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="application/metastream"/>
                <data android:mimeType="application/x-shockwave-flash"/>
                <data android:mimeType="application/sdp"/>
            </intent-filter>
        </activity-alias>

        <!-- The activity and alias for the AV option; derived from the MODE carrousel button-->
        <activity android:name=".activities.OneKeyAV" android:label="@string/av_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.syu.av.ActivityLaunch"
            android:targetActivity=".activities.OneKeyAV"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.av"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.syu.av.act.ActAv"
            android:targetActivity=".activities.OneKeyAV"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

<!-- ==================================================================================== -->
<!-- Below the intent for the voice activation on the Teyes firmware                      -->
<!-- ==================================================================================== -->
        <!-- The activity and alias for the AV option; derived from the MODE carrousel button-->
        <activity android:name=".activities.OneKeyVoice" android:label="@string/voice_alias" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.txznet.smartadapter.ui.MainActivity"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.nuance.vocalizer.VOCALIZER_DATA"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.txznet.smartadapter.ui.CommandActivity"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
        <activity-alias android:name="com.txznet.smartadapter.ui.DeviceInfoActivity"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
        <activity-alias android:name="com.txznet.smartadapter.ui.help.HelpActivity"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
        <activity-alias android:name="com.txznet.smartadapter.ui.help.HelpDetailActivity"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
        <activity-alias android:name="com.txznet.smartadapter.ui.AboutActivity"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
        <activity-alias android:name="com.txznet.smartadapter.ui.PolicyActivity"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
        <activity-alias android:name="com.syu.voice"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
        <activity-alias android:name="com.syu.voice.Launch"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
        <activity-alias android:name="com.syu.voice.VoiceLaunch"
            android:targetActivity=".activities.OneKeyVoice"
            android:exported="true" >
        </activity-alias>
<!-- ==================================================================================== -->
<!-- Below are the several broadcast receivers we need for ACC_ON/ACC_OFF                 -->
<!-- ==================================================================================== -->

        <!-- Broadcast receivers to catch the ACC_ON and ACC_OFF broadcasts -->
        <!--
            The Acc_ON and ACC_OFF receivers only work on Android 6 and below.
            It means that we leve this in here as general starter for Android 6.
            For Android 8.x we create a Fytacc.apk that mimics the "com.yh.devicehelper" by using that package name.
            which is used on some Chinese FYT units and which is always(!) started on wake-up.
            My Fytaccon with package name "com.yh.devicehelper" will start the FytHWOnekey apk
            by its AccOnReciever intent
        -->
        <receiver android:name=".receivers.AccOnReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fyt.boot.ACCON" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.glsx.boot.ACCON"
            android:enabled="true"
            android:exported="true">
                </action>
            </intent-filter>
        </receiver>
        <!-- now make the activity for the Fytaccon.apk -->
        <activity android:name=".activity.AccOn" >
            <intent-filter>
                <action android:name="org.hvdw.fythwonekey.activity.AccOn" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.AccOffReceiver" >
            <intent-filter>
                <action android:name="com.fyt.boot.ACCOFF" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.glsx.boot.ACCOFF" >
                </action>
            </intent-filter>
        </receiver>

        <!-- Deactivate the USB on receiver. In practice it is not always activated and therefore an unstable method -->
        <!--<receiver android:name=".receivers.UsbReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </receiver> -->
<!-- ==================================================================================== -->
<!-- Below are the several broadcast receivers for BTPhone and BTAV for the BT app        -->
<!-- ==================================================================================== -->

        <!-- Broadcast receivers to catch the BT broadcasts -->
        <receiver android:name=".receivers.BTPhoneReceiver" >
            <intent-filter>
                <action android:name="com.syu.ms.bt" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.syu.bt.bykey" >
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BTAVReceiver" >
            <intent-filter>
                <action android:name="com.syu.bt.byav" >
                </action>
            </intent-filter>
        </receiver>

        </application>
</manifest>
